.header {
    margin-top: 33px; 
    border-bottom: 1px solid #828282;
    padding-bottom: 32px;
    @media (max-width: $media-mobile) {
        display: none;
      }
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__link-home {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #070707;
        transition: 0.4s;
        padding-left: 7px;
    }
    &__link {
        @include no-btn;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #828282;
        transition: 0.4s;
    } 
    &__list {
        @include no-list;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-right: 3px;
    }
}