.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    min-height: 30%;
    z-index: 20;
}

.popup__wrap-unsuccess {
    display: flex;
    flex-direction: row;
    margin: 27% 31%;
    z-index: 100;
    gap: 20px;
    height: max-content;
    @media (max-width: $media-tablet) {
        margin: 30% 16%;
    }
    @media (max-width: $media-mobile) {
        flex-direction: column-reverse;
        margin: 20px 20px;
        gap: 165px;
    }
}

.popup__message-unsuccess {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;    
    color: #EB3617;
    max-width: 475px;
}

.popup__close-unsuccess {
    background-image: url('../img/icon/button-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 300;
    background-color: transparent;
    &:hover, &:focus {
        background-image: url('../img/icon/close-hover.svg');
    }
}