<footer class="footer @@color">
  <h2 class="footer__title">Contacts</h2>
  <p class="footer__text">Want to know more or just chat?</p>
  <p class="footer__text">You are welcome!</p>
  <button class="footer__button send-btn_js">Send message</button>
  <ul class="footer__list">
    <li class="footer__item"><a class="footer__link" href="">Instagram</a></li>
    <li class="footer__item"><a class="footer__link" href="">Vk</a></li>
    <li class="footer__item"><a class="footer__link" href="">Telegram</a></li>
    <li class="footer__item"><a class="footer__link" href="">Mail</a></li>
    <li class="footer__item"><a class="footer__link" href="">GitHub</a></li>
    <li class="footer__item"><a class="footer__link" href="#">Phone</a></li>
  </ul>
  <a class="footer__info" href="">Design by <span class="footer__dlAcademy">DL Academy</span></a>
  <p class="footer__info">Program code from Ekaterina</p>
</footer>
