<form class="password" name="password" method="post" action="#" novalidate>
    <div class="password__wrapper">
        <label class="password__label" for="password2">Old password <span class="password__star">*</span></label>
        <input class="password__input" type="password" name="oldPassword" id="password2" required>
      </div>
    <div class="password__wrapper">
      <label class="password__label" for="password3">New password <span class="password__star">*</span></label>
      <input class="password__input" type="password" name="newPassword" id="password3" required>
    </div>
    <div class="password__wrapper">
      <label class="password__label" for="password4">Repeat new password <span class="password__star">*</span></label>
      <input class="password__input" type="password" name="repeatPassword" id="password4" required>
    </div>
    <button class="password__button" type="submit">Change password</button>  
  </form>