<form class="sign" name="signIn" method="post" action="#" novalidate>
  <div class="sign__wrapper">
    <label class="sign__label" for="email">Email <span class="sign__star">*</span></label>
    <input class="sign__input--email" type="email" name="email" id="email" required>
  </div> 
  <div class="sign__wrapper">
    <label class="sign__label" for="pin">Password <span class="sign__star">*</span></label>
    <input class="sign__input" type="password" name="password" id="pin" required>
  </div>
  <button class="sign__button" type="submit">Log in</button>  
</form>