<form class="data" name="data" method="post" action="#" novalidate>
    <div class="data__wrapper">
        <label class="data__label" for="emai4l">Email</label>
        <input class="data__input--email" type="email" name="email" id="email4" required>
      </div> 
    <div class="data__two-input">
      <div class="data__wrapper">
        <label class="data__label" for="name2">Name</label>
        <input class="data__input" type="text" name="name" id="name2" required>
      </div>
      <div class="data__wrapper">
        <label class="data__label" for="surname2">Surname</label>
        <input class="data__input" type="text" name="surname" id="surname2" required>
      </div>
    </div>
    <div class="data__two-input">
      <div class="data__wrapper">
        <label class="data__label" for="location2">Location</label>
        <input class="data__input" type="text" name="location" id="location2" required>
      </div>
      <div class="data__wrapper">
        <label class="data__label" for="age2">Age</label>
        <input class="data__input" type="number" name="age" id="age2" required>
      </div>
    </div> 
    <div class="data__wrapper">
        <label class="data__label" for="file">Profile picture</label>
        <input class="data__input" type="file" name="file" id="file" required>
      </div>
    <button class="data__button" type="submit">Submit changes</button>  
  </form>

